  <app-screen title="Haupt" id="main" class="remoteScreen">
    <app-title title="{{ title }}"></app-title>
    <div>
      <app-button title="Theke" topic="Beaker/small/red" [data]="2"></app-button>
      <app-button title="Spiegel" topic="Beaker/small/green" [data]="2"></app-button>
      <app-button title="Regal" topic="Beaker/big/red" [data]="2"></app-button>
      <app-button title="Tür" topic="Beaker/big/green" [data]="2"></app-button>
      <app-button title="Tablet" topic="Beaker/big/blue" [data]="2"></app-button>
    </div>
  </app-screen>
